<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.androiddc.ftpcontrol">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="33" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application android:label="AndroidDC FTP" android:usesCleartextTraffic="false">
        <service android:name=".FtpControlService" android:exported="true" />
    </application>
</manifest>
